*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */
html{
    font-size: 62.5%;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-size: 1.6rem;
}
/* /FONT */

/* CONTAINER */
.container{
    width: 60%;
    margin: 4rem auto;
}

h1{
    text-align: center;
    margin-bottom: 4rem;
    color: #e43270;
}

.container > p{
    margin-bottom: 4rem;
    text-align: center;
}

/* PEOPLE */
.people{
    width: calc(100% / 3 - 1em);
    height: 100px;
    background-color: #0f0e17;
    border: 1px solid white;
    margin-bottom: 5rem;
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.margin{
    margin-right: 1.5em
}

.not-margin{
    margin-right: 0;
}

.people img{
    height: 100%;
    float: left;
    margin-right: 1rem;
}

.people h3{
    color: white;
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
    padding-left: 1rem;
}

.job{
    color: white;
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: 0.8rem;
}

.email{
    color: aqua;
    font-size: 1.2rem;
    display: inline-block;
}
/* /PEOPLE */
/* CONTAINER */

